<div class="container center-container">
  <div class="notification is-danger" *ngIf="errorMessage !== ''">
    {{ errorMessage }}
  </div>
  <div class="notification is-success" *ngIf="successMessage !== ''">
    {{ successMessage }}
  </div>
  <div class="row">
    <div class="column">
      <div class="field">
        <label class="label" for="account">Initial Amount</label>
        <div class="control">
          <input  class="input is-small custom-input" type="number"
           id="initialamount" [(ngModel)]="initialamount"           
           pattern="^-?[0-9]\d*(\.\d+)?$" 
           [ngClass]="{ 'is-invalid': initialamount < 100 }">
           <div *ngIf="!isinitialamountValid" class="invalid-feedback" style="color:red">Amount must be greater than or equal to 100 $.</div>
        </div>
      </div>
      <button class="button is-primary mb-3" (click)="createAccount()"><i class="fas fa-plus"></i> Create Account</button>
     
    
    </div>
    <div *ngIf="transactionType !== ''" class="row">
      <div class="field">
        <label class="label" for="account">Account No</label>
        <div class="control">
          <input readonly="true" disabled="true" class="input is-small custom-input"
           id="account" [(ngModel)]="userAccountNo">
        </div>
      </div>
      <div class="field">
        <label class="label" for="amount">{{transactionType}}  Amount:</label>
        <div class="control">
          <input type="number" class="input is-small custom-input" id="amount" [(ngModel)]="amount" placeholder="Enter amount">
        </div>
      </div>
      <button type="button" class="button is-primary" (click)="submitTransaction()">Submit</button>
    </div>
    </div>


  <table class="table is-striped is-hoverable mt-3">
    <thead>
      <tr>
        <th>Account No</th>
        <th>Balance</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.accountNumber }}</td>
        <td>{{ account.balance }} $</td>
        <td>
          <button class="button is-success is-small" (click)="deposit(account)"><i class="fas fa-arrow-up"></i> Deposit</button>
        </td>
        <td>
          <button class="button is-danger is-small" (click)="withdraw(account)"><i class="fas fa-arrow-down"></i> Withdraw</button>
        </td>
        <td>
          <button class="button is-warning is-small" (click)="deleteAccount(account)"><i class="fas fa-trash"></i> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
